body, css {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    text-align: center;
  }
  
  body * {
    margin: 1em;
    padding: 0;
    list-style: none;
  }
  
  section {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  
  #movieDetails {
    display: block;
  }

  .card {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.356);
    transition: 0.3s;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 0;
  }
  
